<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人主页</title>
    {css href="/static/css/bootstrap.min.css,/static/css/font-awesome.min.css,/static/css/main.css,/static/css/style.css" /}
</head>
<body>

<header>
    <div class="head-bg">
        <h3>艺文的个人主页</h3>
    </div>
    <div class="container nav_style">
        <nav class="navbar navbar-zyw" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav texta-c">
                    <li class="active"><a href="index.html">我的主页</a></li>
                    <li><a href="">个人简历</a></li>
                    <li><a href="">我的文章</a></li>
                    <li><a href="javascript:;">我的案例</a></li>
                    <li><a href="">联系我</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    
</div>
{js href="/static/js/jquery.min.js,/static/js/bootstrap.min.js" /}
</body>
</html>