<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {css href="/static/css/bootstrap.min.css,/static/css/font-awesome.min.css,/static/css/main.css,/static/css/mstyle.css" /}
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header data-class="rain" class="weath_bg rain show">
      <div class="head-top clearfix">
        <a href="#" class="head-logo pull-left">
          <img src="https://m.hao123.com/static/img/logo/logo-2.0.png" alt="">
        </a>
        <div class="head-weather pull-right" id="weather">
          
        </div>
      </div>
    </header>
    {js href="/static/js/jquery.min.js,/static/js/bootstrap.min.js,/static/js/mindex.js" /}
  </body>
</html>