<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人简历</title>
    {css href="/static/layui/css/layui.css,/static/css/font-awesome.min.css,/static/css/main.css,/static/css/resume.css" /}
</head>
<body>
<header>
    <div class="head-bg">
        <h3>艺文的个人主页</h3>
    </div>
    <div class="layui-container">
        <ul class="layui-nav texta-c bg-w">
            <li class="layui-nav-item"><a href="{:url('/index/index/index')}">首页</a></li>
            <li class="layui-nav-item layui-this"><a href="{:url('/index/index/resume')}">个人简历</a></li>
            <li class="layui-nav-item"><a href="">我的收藏</a></li>
            <li class="layui-nav-item"><a href="{:url('/index/index/mycase')}">我的案例</a></li>
            <li class="layui-nav-item"><a href="">联系我</a></li>
        </ul>
    </div>
</header>
<div class="layui-container mart-10">
    <div class="layui-row myresume">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
            <div class="layui-bg-cyan">
                <div class="left-info1">
                    <div class="left1-img">
                        <img src="/static/images/my-img.jpg" alt="">
                    </div>
                    <h2 class="mart-10">张译文</h2>
                    <p>- web前端工程师 -</p>
                </div>
                <div class="left-info2">
                    <h4 class="left-title"><i class="layui-icon">&#xe612;</i>个人资料</h4>
                    <div class="item-cont">
                        <p>出生年月：1993-01-01</p>
                        <p>毕业学校：吉林财经大学信息经济学院</p>
                        <p>学历信息：本科</p>
                        <p>籍贯：吉林</p>
                        <p>专业：信息管理与信息系统</p>
                        <p>现居：山东烟台芝罘区</p>
                    </div>
                </div>
                <div class="left-info2">
                    <h4 class="left-title"><i class="layui-icon">&#xe658;</i>自我评价</h4>
                    <div class="item-cont">
                        <p>本人踏实，认真，有上进心，热爱编程工作，毕业后虽未从事开发相关工作，但一直利用工作业余时间学习，乐于钻研且性格开朗；在校担任班级团支书，曾获五四优秀团员。</p>
                    </div>
                </div>
                <div class="left-info2">
                    <h4 class="left-title"><i class="layui-icon">&#xe614;</i>专业技能</h4>
                    <div class="item-cont">
                        <p>
                            <span class="p-hd">photoshop</span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                        </p>
                        <p>
                            <span class="p-hd">HTML+CSS</span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                        </p>
                        <p>
                            <span class="p-hd">JS+jQuery</span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                        </p>
                        <p>
                            <span class="p-hd">PHP+MySQL</span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-green"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                            <span class="layui-badge layui-bg-gray"></span>
                        </p>
                    </div>
                </div>
                <div class="left-info2">
                    <h4 class="left-title"><i class="layui-icon">&#xe611;</i>联系方式</h4>
                    <div class="item-cont">
                        <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 手机：15966516501</p>
                        <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> 邮箱：zhang92107@sina.com</p>
                        <p><i class="fa fa-home fa-fw" aria-hidden="true"></i> 地址：山东省烟台市芝罘区</p>
                        <p><i class="fa fa-qq fa-fw" aria-hidden="true"></i> QQ：1414025278</p>
                        <p><i class="fa fa-weixin fa-fw" aria-hidden="true"></i> 微信：15966516501</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md9">
            <div class="right-cont">
                <div class="right-info1">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend><i class="fa fa-graduation-cap" aria-hidden="true"></i> 教育经历</legend>
                    </fieldset>
                    <strong>【前端技术】</strong>
                    <p>精通Html、css、js（熟练使用Jquery框架），熟悉Ajax</p>
                    <p>熟悉Html5 css3，掌握自适应式网页的开发</p>
                    <p>精通bootstrap，amaze UI，layui等前端框架</p>
                    <p>能够使用ps切图，做简单的轮播，图片处理</p>
                    <strong>【后台语言】</strong>
                    <p>熟悉PHP脚本语言，了解thinkPHP框架。</p>
                    <strong>【数据库】</strong>
                    <p>熟悉Sql语句，熟练使用mysql。</p>
                    <strong>【开发工具】</strong>
                    <p>能够熟练的使用sublime、PhpStorm等开发工具，熟悉SVN，了解Git。</p>
                    <strong>【主修课程】</strong>
                    <p>网页设计与制作技术、数据库应用（SQL server）、面向对象程序设计（java）、企业资源计划ERP、计算机网络、管理信息系统、数据结构、电子商务概论、运筹学、统计学、财务管理、基础会计。</p>
                </div>
                <div class="right-info2">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend><i class="fa fa-cogs" aria-hidden="true"></i> 工作经历</legend>
                    </fieldset>
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2018/01 -- 2018/03</h3>
                                <div class="layui-timeline-title">重庆伟仕酷购科技发展有限公司 | 美工专员</div>
                                <p>
                                    1、负责移动端网页样式设计PSD效果图 <br>
                                    2、负责将PSD效果图进行切图 <br>
                                    3、负责公司现有项目和新项目的前端修改调试和开发 <br>
                                    4、优化移动端屏幕适配问题
                                </p>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2016/09 -- 2017/11</h3>
                                <div class="layui-timeline-title">烟台天涌商贸有限公司 | web前端工程师</div>
                                <p>
                                    负责淘宝客网站的前端开发（项目链接：http://yishoudan.com/）<br>
                                    负责公司现有项目和新项目的前端修改调试和开发工作<br>
                                    优化网站前端性能<br>
                                    页面通过标准校验，兼容各主流浏览器
                                </p>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2016/01 -- 2016/08</h3>
                                <div class="layui-timeline-title">烟台鸿图华业装饰工程有限公司 | 总经办文员</div>
                                <p>
                                    1.负责日常报表的编写和统计；<br>
                                    2.公司文档的编辑整理；<br>
                                    3.负责高层会议所需要的数据整理；<br>
                                    4.兼职总经理助理，记录一些会议内容以及监督员工日常工作；<br>
                                    5.负责来访客户、意向客户、签约客户以及售后服务的一些电话回访；<br>
                                    6.编辑整理微信公众号，通过易企秀做简单的宣传页面；<br>
                                    7.在微博、豆瓣、百度论坛等渠道发布公司宣传文章，并做简单的SEO优化。
                                </p>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">更久前</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--<div class="right-info3">-->
                    <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">-->
                        <!--<legend><i class="fa fa-users" aria-hidden="true"></i> 项目经验</legend>-->
                    <!--</fieldset>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

{js href="/static/layui/layui.js" /}
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form', 'element'], function(){
        var layer = layui.layer
                ,form = layui.form
                ,element = layui.element;

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>