<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>仿QQ音乐抽奖转盘</title>
	{css href="/static/css/choujiang.css" /}
</head>

<body>
<h1>仿QQ音乐抽奖转盘</h1>
<div class="dowebok">
	<div class="rotary">
		<img class="hand" src="/static/images/z.png" alt="">
	</div>
	<div class="list">
		<strong>100%中奖</strong>
		<h4>中奖用户名单</h4>
		<ul>
			<li class="insert-data">插入</li>
		</ul>
	</div>
</div>
{js href="/static/js/jquery.min.js,/static/js/jquery.rotate.min.js" /}
<script>
    $(function(){
        var $hand = $('.hand');

        $hand.click(function(){
            var data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
            data = data[Math.floor(Math.random()*data.length)];
            switch(data){
                case 1:
                    rotateFunc(1,16,'今晚吃杏鲍菇炒肉');
                    break;
                case 2:
                    rotateFunc(2,47,'今晚吃炸酱面');
                    break;
                case 3:
                    rotateFunc(3,76,'今晚吃包子饺子馄饨');
                    break;
                case 4:
                    rotateFunc(4,106,'今晚吃芹菜炒肉');
                    break;
                case 5:
                    rotateFunc(5,135,'今晚吃火锅');
                    break;
                case 6:
                    rotateFunc(6,164,'今晚出去吃');
                    break;
                case 7:
                    rotateFunc(7,193,'今晚吃排骨');
                    break;
                case 8:
                    rotateFunc(7,223,'今晚吃麻婆豆腐');
                    break;
                case 9:
                    rotateFunc(7,252,'今晚吃酱牛肉');
                    break;
                case 10:
                    rotateFunc(7,284,'今晚吃饭包');
                    break;
                case 11:
                    rotateFunc(7,314,'今晚吃水煮肉片');
                    break;
                case 12:
                    rotateFunc(7,345,'今晚吃柿子炒鸡蛋');
                    break;
            }
        });

        var rotateFunc = function(awards,angle,text){
            $hand.stopRotate();
            $hand.rotate({
                angle: 0,
                duration: 5000,
                animateTo: angle + 1440,
                callback: function(){
                    alert(text);
                    var mydate = new Date();
                    var mytime=mydate.toLocaleString( );
                    var li_data='<li><span>'+mytime+'</span><span>'+text+'</span></li>'
                    $('.insert-data').after(li_data);
                }
            });
        };
    });
</script>

</body>
</html>