{include file="public/_header" /}
{include file="public/_nav" /}
<div id="page-wrapper" class="gray-bg dashbard-1">
    {include file="public/_top" /}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>分类管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">网页收藏</a>
                </li>
                <li>
                    <a href="{:url('/admin/link/index')}">网站列表</a>
                </li>
                <li class="active">
                    <strong>分类管理</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-md-4">
                <div id="nestable-menu">
                    <button type="button" data-action="expand-all" class="btn btn-white btn-sm">全部展开</button>
                    <button type="button" data-action="collapse-all" class="btn btn-white btn-sm">全部收起</button>
                </div>
            </div>
            <div class="col-lg-3 pull-right top-level">
                <button class="btn btn-sm btn-white pull-right" id="addTop"><i class="fa fa-plus"></i> 添加顶级分类</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>分类管理</h5>
                    </div>
                    <div class="ibox-content">

                        <p class="m-b-lg">
                            修改设置网址连接功能分类
                        </p>

                        <div class="dd" id="nestable2">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle">
                                        <div class="btn-group pull-right">
                                            <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                            <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                            <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                        </div>
                                        <span class="label label-info"><i class="fa fa-users"></i></span> 推荐网站
                                    </div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="11">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-cog"></i></span> 视频
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="12">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-bolt"></i></span> 邮箱
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="13">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-laptop"></i></span> 购物
                                            </div>
                                        </li>
                                    </ol>
                                </li>

                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle">
                                        <div class="btn-group pull-right">
                                            <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                            <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                            <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                        </div>
                                        <span class="label label-warning"><i class="fa fa-users"></i></span> 学习网站
                                    </div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="21">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-warning"><i class="fa fa-users"></i></span> 示例
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="22">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-warning"><i class="fa fa-bomb"></i></span> 插件
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="23">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-warning"><i class="fa fa-child"></i></span> 工具
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="24">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-warning"><i class="fa fa-child"></i></span> UI设计
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="25">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-warning"><i class="fa fa-child"></i></span> 视频
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle">
                                        <div class="btn-group pull-right">
                                            <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                            <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                            <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                        </div>
                                        <span class="label label-info"><i class="fa fa-users"></i></span> 学习文档
                                    </div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="31">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-cog"></i></span> 常用文档
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="32">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-bolt"></i></span> 廖雪峰
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="33">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-laptop"></i></span> runoob
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="34">
                                            <div class="dd-handle">
                                                <div class="btn-group pull-right">
                                                    <button class="btn-white icon-cate btn btn-xs webuploader-container"><div class="webuploader-pick"><i class="fa fa-upload"></i> 图标</div><div id="rt_rt_1ceb9r83m1h4l12a71pp51pf81622a" style="position: absolute; top: 0px; left: 0px; width: 47px; height: 20px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></button>
                                                    <button class="btn-white del-cate btn btn-xs"><i class="fa fa-trash"></i> 删除</button>
                                                    <button class="btn-white add-cate btn btn-xs"><i class="fa fa-plus"></i> 子分类</button>
                                                </div>
                                                <span class="label label-info"><i class="fa fa-laptop"></i></span> thinkPHP
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {include file="public/_bottom" /}
</div>
</div>
{js href="/static/admin/js/jquery-2.1.1.js,/static/admin/js/bootstrap.min.js,/static/admin/js/plugins/metisMenu/jquery.metisMenu.js,/static/admin/js/plugins/slimscroll/jquery.slimscroll.min.js,/static/admin/js/plugins/nestable/jquery.nestable.js,/static/admin/js/inspinia.js,/static/admin/js/plugins/pace/pace.min.js" /}
<script>
    $(document).ready(function(){

        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
                output = list.data('output');
            if (window.JSON) {
                output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
            } else {
                output.val('JSON browser support required for this demo.');
            }
        };
        // activate Nestable for list 1
        $('#nestable').nestable({
            group: 1
        }).on('change', updateOutput);

        // activate Nestable for list 2
        $('#nestable2').nestable({
            group: 1
        }).on('change', updateOutput);

        // output initial serialised data
        updateOutput($('#nestable').data('output', $('#nestable-output')));
        updateOutput($('#nestable2').data('output', $('#nestable2-output')));

        $('#nestable-menu').on('click', function (e) {
            var target = $(e.target),
                action = target.data('action');
            if (action === 'expand-all') {
                $('.dd').nestable('expandAll');
            }
            if (action === 'collapse-all') {
                $('.dd').nestable('collapseAll');
            }
        });
    });
</script>
</body>
</html>