 <footer>
    <div class="container">
        <div class="footer-switch clearfix">
            <div class="pull-left link-group">
                <a href="#">关于我们</a><a href="#">网址管理后台</a><a href="#">网址收藏列表</a>
            </div>
            <span class="pull-right my-tel">+86-15966516501</span>
        </div>
        <div class="footer-miscs clearfix">
            <p class="pull-left copy-right">CopyRight©2018 blskye zyw Inc.鲁ICP备16010845号</p>
            <div class="pull-right icon-group">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-qq fa-stack-1x"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-wechat fa-stack-1x"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-weibo fa-stack-1x"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-git fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
{js href="/static/js/jquery.min.js,/static/js/bootstrap.min.js,/static/js/index.js" /}
</body>
</html>