 <footer>
    <div class="footer-switch">
	    <span class="footer-ysp">云适配版</span>
	    <span class="footer-divider"> | </span>
	    <a class="footer-desktop" href="javascript:">电脑版</a>
    </div>
    <div class="footer-miscs ">
        <p>由 <a href="http://www.yunshipei.com/" title="blskye" target="_blank" class="">blskye</a>提供技术支持</p>
        <p><span>CopyRight©2018  blskye zyw Inc.</span><span>鲁ICP备16010845号</span></p>
    </div>
</footer>
{js href="/static/js/jquery.min.js,/static/js/bootstrap.min.js,/static/js/stickUp.min.js" /}
<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.navbar-wrapper').stickUp();
        });
        //绑定输入框，这里只能 是ID
        $("#baidusearch").keydown(function(event){
          event=document.all?window.event:event;
          if((event.keyCode || event.which)==13){
           
          }
        });
    });
</script>
</body>
</html>