<header>
    <div class="head-bg">
        <h3>艺文的个人主页</h3>
    </div>
    <div class="nav_style navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-zyw" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav texta-c">
                            <li class="active"><a href=" {:url('/index/index/index')}">我的主页</a></li>
                            <li><a href="{:url('/index/index/resume')}">个人简历</a></li>
                            <li><a href="">我的文章</a></li>
                            <li><a href="{:url('/index/index/mycase')}">我的案例</a></li>
                            <li><a href="">联系我</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>